<!-- messages -->

<div class="card">
  <% if low_data %>
    <hr>
      <%= render "token/avatar", token: message.token %>
      <%= render "messages/content", message: message %>
    <hr>
  <% else %>
	  <div class="card_corner_cut_out"></div>
	  <%= render "token/avatar", token: message.token, position: :token_card_link %>
	  <%= render "messages/time_ago", message: message %>
	  <div align="center">
      <%= render "messages/content", message: message %>
	  </div>
  <% end %>
</div>


