<!-- messages -->

<script>
  <% if @group %>
    <%= render "messages/check_messages.js", token: @group.token %>
  <% else %>
    <%= render "messages/check_messages.js", token: @receiver_token %>
  <% end %>
</script>

<% if @group %>
  <%= render "groups/card", group: @group %>  
<% else %>
  <%= render "token/card", token: @receiver_token %>
<% end %>

<% for message in @messages %>
	<%= render "messages/card", message: message %>
<% end %>

<div id="instant_messages_anchor"></div>

<div id="message_form_anchor"></div>

<%= render "messages/new" %>
