<!-- messages -->

<% if @group %>
  <script>
	  <%= render "messages/check_messages.js" %>
  </script>
  
  <%= render "groups/card", group: @group %>  
<% else %>
  <%= render "token/card" %>
<% end %>

<% for message in @messages %>
	<%= render "messages/card", message: message %>
<% end %>

<div id="instant_messages_anchor"></div>

<div id="message_form_anchor"></div>

<%= render "messages/new" %>
