<!-- notes -->

<% for note in @notes %>
  <div class="card">
    <div class="note_message">
      <% case note.action.to_sym %>
      <% when :message_received %>
        <%= link_to note.message, secret_chat_path(note.item_token) %>
      <% when :ratified, :proposal_revised %>
        <%= link_to note.message, show_proposal_path(note.item_token) %>
      <% when :commented, :also_commented %>
        <%= link_to note.message, show_proposal_path(note.item_token, comments: true) %>
      <% when :proposal_blocked, :revision_submitted %>
        <%= link_to note.message, show_proposal_path(token: note.item_token, revisions: true) %>
      <% when :replied %>
        <%= link_to note.message, show_comment_path(note.item_token) %>
      <% when :commented_vote %>
        <%= link_to note.message, show_vote_path(note.item_token) %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @notes.empty? %>
  <div class="card">
    <div class="note_message">
      You have zero notifications.
    </div>
  </div>
<% end %>

<% @notes.update_all seen: true %>


