<!-- comments -->

<div class="card">
  <% if low_data %>
    <hr>
    <%= render "app/body", item: comment %>
  <% else %>
	  <div class="card_corner_cut_out"></div>
	  <%= render "token/avatar", token: comment.token, position: :token_card_link %>
	  <%= render "comments/time_ago", comment: comment %>
	  <div align="center">
		  <p class="comment_body_text" id="<%= 'justified_body_text' if comment.body.size > 150 %>">
		    <%= render "app/body", item: comment %>
		  </p>
	  </div>
  <% end %>
	<% if security_token != comment.token and !comment.unique_token.nil? %>
	  <%= link_to("Reply#{(' ' + comment.replies.size.to_s) unless comment.replies.size.zero?}",
	    show_comment_path(comment.unique_token), class: :reply_link) %>
	<% end %>
	<% if low_data %>
	  <hr>
	<% end %>
</div>
