<!-- comments -->

<% if @comment.comment.present? %>
  <%= render "app/lineage", line: { comment: @comment.comment, reply: @comment } %>
<% elsif @comment.proposal.present? %>
  <%= render "app/lineage", line: { group: @comment.proposal.group, proposal: @comment.proposal, comment: @comment } %>
<% end %>

<%= render "comments/card", comment: @comment %>

<% for reply in @replies %>
  <%= render "comments/card", comment: reply %>
<% end %>

<div class="card">
  <%= render "comments/reply" %>
</div>
