<!-- groups -->

<div align="center" id="new_group_form">
	<%= form_for @group do |f| %>
		<p>
			<%= text_field_tag :hashtags, nil, placeholder: "Hashtags (optional)" %>
		</p>
		<p>
			<%= f.label "Local group" %>
			<%= check_box_tag :location %>
		</p>
		<%= f.submit "Submit" %>
	<% end %>
</div>