<!-- groups -->

<% unless @expired %>
	<script>
		<%= render "groups/infinite_scroll.js" %>
	</script>
	
	<%= render "banners/banner", group: @group %>

	<%= render "groups/card", group: @group %>
	
	<%= render "groups/manifesto_card", group: @group %>
	
  <!-- allows user to switch between differen proposal categories -->
  <%= render "proposals/section_links" if @all_items.present? %>

  <div id="feed_container_anchor"></div>
  <%= render "proposals/feed_container", parents: "groups" %>
<% else %>
	<div class="card">
		<p align="center"><%= if @is_a_token then "This group no longer exists." else "Invalid token." end %></p>
	</div>
<% end %>
