<!-- app -->

<% if word =~ /\A#{URI::regexp}\z/ and word.include? "youtu" and !word.include? "user" and !word.include? "channel" %>
	<% word = word.slice 0...word.index("&") if word.include? "&" %>
	<% word.sub! "watch?v=", "embed/" if word.include? "watch?v=" %>
	<% word.sub! "youtu.be", "www.youtube.com/embed" if word.include? "youtu.be" %>
	<iframe width="90%" height="315" src="<%= word %>" frameborder="0" allowfullscreen>
	</iframe></br>
<% elsif word =~ /\A#{URI::regexp}\z/ or word.include? "http://" or word.include? ".se" and word != "in:" %>
	<% if word.include? ".jpg" or word.include? ".png" or word.include? ".gif" %>
		<div align="center"><%= image_tag word, class: :embedded_image %></div>
	<% else %>
		<% unless word.size > 25 %>
			<%= link_to word + " ", word, target: :_blank %>
		<% else %>
			<%= link_to word[0..25] + "... ", word, target: :_blank %>
		<% end %>
	<% end %>
<% else %>
	<% if word.size < 30 %>
		<%= (word + " ").html_safe %>
	<% else %>
		<%= word[0..25] + "... " %>
	<% end %>
<% end %>
