<div class="dark_card">
  <div align="center">
    <%= link_to "https://github.com/ethanwilkins/anrcho", class: :footer_link,
      title: "Please contribute to, or browse, the source code on GitHub" do %>
      <%= image_tag "github.png", class: :footer_link_img %>
      <span class="footer_link_txt">
        All source code for Anrcho is on GitHub
      </span>
    <% end %>
    <%= link_to "http://kopimi.com/", class: :footer_link, title: "Kopimi, please feel free to copy Anrcho" do %>
      <%= image_tag "kopimi1.png", class: :footer_link_img %>
      <span class="footer_link_txt">
        Feel free to copy this project
      </span>
    <% end %>
    <%= link_to "http://anrcho.tumblr.com/" do %>
      <%= image_tag "banner.gif", class: :footer_banner,
        title: "A gif from a contributor living in Portugal (this links to the Tumblr page)" %>
    <% end %>
  </div>
</div>
