<!-- app -->

<div id="link_menu" hidden>
	<%= link_to "Home", root_url, id: :nav_menu_link %>
	<span id="nav_menu_link">路</span>
	<%= link_to "Chat", new_chat_path, method: :post, id: :nav_menu_link %>
	<span id="nav_menu_link">路</span>
	<%= link_to "Renew", update_token_path, remote: true, id: :nav_menu_link %>
	<span id="nav_menu_link">路</span>
	<%= link_to "Load", fib_path, id: :nav_menu_link %>
	<span id="nav_menu_link">路</span>
	<%= link_to "About", (@manifestos_index ? '/#' : toggle_manifesto_path),
		remote: true, id: :nav_menu_link %>
</div>
