<!-- proposals -->

<% if proposal.title.present? %>
  <%= link_to show_proposal_path(proposal.unique_token) do %>
		<p class="proposal_title_text"><%= proposal.title %></p>
  <% end %>
<% end %>
		  
<% if proposal.image.url %>
  <% if low_data %>
    <%= link_to "View attached image", proposal_image_path(proposal.unique_token) %>
  <% else %>
    <p>
      <% if @proposal_shown %>
        <%= image_tag proposal.image, id: :proposal_image %>
      <% else %>
        <%= link_to show_proposal_path(proposal.unique_token) do %>
          <%= image_tag proposal.image, id: :proposal_image %>
        <% end %>
      <% end %>
    </p>
  <% end %>
<% end %>

<p class="proposal_body_text" id="<%= 'justified_body_text' if proposal.body.size > 150 %>">
  <%= render "app/body", item: proposal %>
</p>
