<!-- proposals -->

<div id="index_container">
  <script>
    <%= render "proposals/infinite_scroll.js" %>
  </script>
  
  <div class="card">
    <div align="center">
	    <%= render "app/nav_table" %>
	    <% if @all_items.empty? %>
		    <p>There aren't any proposals yet.</p>
	    <% end %>
	    <div id="insert_form_anchor"></div>
    </div>
  </div>
  
  <% if low_data %>
    <hr>
  <% end %>

  <!-- allows user to switch between differen proposal categories -->
  <%= render "proposals/section_links" unless @all_items.empty? %>

  <div id="feed_container_anchor"></div>
  <%= render "proposals/feed_container" %>
  
  <%= render "app/footer_links" %>
</div>
