<!-- proposals -->

<div align="center" id="new_proposal_form">
	<%= form_for @proposal do |f| %>
		<%= hidden_field_tag :group_id, @group.id if @group %>
		<script><%= render 'proposals/select_change.js', f_builder: f %></script>
		<p>
			<%= f.text_field :title, placeholder: "Title (optional)", class: :standard_text_field %>
		</p>
		<table>
			<tr>
				<td>
					<%= f.text_area :body, placeholder: "Body" %>
				</td>
				<td>
					<%= link_to add_proposal_image_path, remote: true do %>
						<i class="fa fa-picture-o"></i>
					<% end %>
				</td>
			</tr>
		</table>
		
		<p id="hidden_file_field" hidden><%= f.file_field :image %></p>
		
		<p><%= f.select :action, options_for_select(action_types(@group)),
			id: :proposal_action_select %></p>
		
		<div id="action_fields_anchor"></div>
		<%= render "proposals/action_fields", f_builder: f %>
		
    <button type="submit" name="commit" class="standard_form_button">
      <b>Post <i class="fa fa-pencil"></i></b>
    </button>
	<% end %>
</div>
