<!-- proposals -->

<div align="center">
  <%= form_for @revision, url: create_proposal_path, method: :post do |f| %>
    <%= hidden_field_tag :proposal_id, @proposal.id %>
    <%= hidden_field_tag :proposal_action, "revision" %>
    <p>
	    <%= f.text_field :title, value: @proposal.title, placeholder: "Title" %>
    </p>
    <p>
	    <%= f.text_area :body, value: @proposal.body, placeholder: "Body" %>
    </p>
    <%= f.submit "Submit" %>
  <% end %>
</div>
