<!-- proposals -->

<script>
	<%= render "proposals/infinite_scroll.js" %>
</script>

<div class="card">
	<div align="center">
		<%= render "app/nav_table" %>
		<% if @all_items.empty? %>
			<p>There aren't any proposals yet.</p>
		<% end %>
		<div id="insert_form_anchor"></div>
	</div>
</div>

<div id="proposal_sections">
	<%= link_to root_url, remote: true do %>
		<div id="voting_section">
			<div class="section_text">Voting</div>
		</div>
	<% end %>
	<%= link_to root_url, remote: true do %>
		<div id="revision_section">
			<div class="section_text">Revision</div>
		</div>
	<% end %>
	<%= link_to root_url, remote: true do %>
		<div id="ratified_section">
			<div class="section_text">Ratified</div>
		</div>
	<% end %>
</div>

<%= render "proposals/feed" %>

<%= render "pages/buffer_wheel", items: @items, all_items: @all_items %>
