<!-- proposals -->

<%= render "proposals/card", proposal: @proposal %>

<%= render "token/voter_links", label: "For", votes: @up_votes %>
<%= render "token/voter_links", label: "Against", votes: @down_votes %>

<% if @show_votes %>
  <% for vote in @up_votes %>
    <%= render "votes/card", vote: vote if vote.body.present? %>
  <% end %>
  <% unless @up_votes.present? %>
    <div class="card">
      <p align="center">There aren't any votes to verify.</p>
    </div>
  <% end %>
<% elsif params[:revisions] and @proposal.requires_revision %>
	<% for revision in @revisions %>
		<%= render "proposals/card", proposal: revision %>
	<% end %>
	<div class="card">
		<%= render "proposals/new_revision" %>
	</div>
<% elsif params[:revisions].nil? %>
	<% for comment in @comments %>
		<%= render "comments/card", comment: comment %>
	<% end %>
	<div class="card">
		<div align="center">
			<%= form_for @comment, url: proposal_comments_path(@proposal), method: :post do |f| %>
				<%= hidden_field_tag :proposal_shown, true %>
				<p>
					<%= f.text_area :body, placeholder: "Leave a comment..." %>
				</p>
				<%= f.submit "Submit" %>
			<% end %>
		</div>
	</div>
<% end %>
